* {
  box-sizing: border-box;
}

#canvas {
  background: #f0f0f0;
  border-radius: 5px;
}

#particles-js {
  background-color: #000000;
  position: fixed;
  left: 0;
  opacity: 90%;
  height: 100%;
  width: 100%;
  top: 0;
}